@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Glass TTY VT220";

  src: local("GlassTTY VT220"),
    url(/Users/paulritter/Library/Fonts/Glass_TTY_VT220.ttf) format("ttf");
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(16 185 129 / var(--tw-text-opacity));
}

* {
  font-family: "Glass_TTY_VT220";
}
