@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Glass TTY VT220";

  src: local("GlassTTY VT220"),
    url(/Users/paulritter/Library/Fonts/Glass_TTY_VT220.ttf) format("ttf");
} */
@layer components {
  .header {
    @apply sticky top-0 z-50 w-full h-12 flex text-emerald-500 justify-between items-center bg-gray-900;
  }

  .header__link {
    @apply lg:inline;
  }

  .icon {
    @apply w-6 lg:w-6 cursor-pointer rounded-sm sm:ml-2;
  }
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(32 34 37 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(16 185 129 / var(--tw-text-opacity));
}

.greenbg {
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

* {
  font-family: "Glass_TTY_VT220";

  /* font-family: "Roboto"; */
}

img {
  max-height: 100%;
}

#no-scroll1::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#no-scroll1 {
  border: 1px solid;
}
